apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: event-genie-dev
  namespace: argocd
  labels:
    app: event-genie
    environment: dev
    tenant: opsera
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/Opsera-Test-M/event-genie.git
    targetRevision: main
    path: .opsera-event-genie/k8s/overlays/dev
  destination:
    name: opsera-usw2-np
    namespace: event-genie-dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
